body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*--------------------------*/
.game-info {
    background-color: #aaa;
    display: flex;
    align-items: center;
}

.game-info > .padding {
    flex-grow: 1;
}

.game-info > .remaining {
    width: 5em;
    height: 4ex;
    background-color: antiquewhite; 
}

.game-info > .timer {
    width: 5em;
    height: 4ex;
    background-color: antiquewhite;
}

.game-info > .message {
    width: 10em;
    font-size: 20px;
}


td {
    height: 32px;
}

.cell {
    /* background-color: #999; */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;

    border-width: 4px;
    border-style: outset;
    box-sizing: border-box;
    border-color: #aaa;
    background-color: #a1a1a1
}

.cell.unclear > span.mine-count,
.cell.unclear > span.mine {
    display: none;
}

.cell > span.mine {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    /* line-height: -150px; */
    font-weight: 900;
    color: #960f0f;
}

.cell > span.mine-count {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    color: #960f0f;
}

span.mine-count.n1 {
    color:rgb(9, 9, 227);
}

span.mine-count.n2 {
    color:rgb(0, 121, 0);
}

span.mine-count.n3 {
    color:#960f0f;
}

span.mine-count.n4 {
    color:#930993;
}

span.mine-count.n5, 
span.mine-count.n6, 
span.mine-count.n7, 
span.mine-count.n8 {
    color:#50007e;
}

.spreaded {
    background-color: #63dabfad;
}

.cell.exploded {
    background-color: #ff0000;
}

.cell.exploded.spreaded {
    background-color: #63dabfad;
}

.cell.success {
    background-color: #ffb0f8f0;
}

.cell.success.spreaded {
    background-color: #ffb0f8f0;
}
